<section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Geophisic Division</h2>
                
            </div>

            <div class="row">
				<div class="col-sm-12">
					<table class="table" border="1">
					{if $data}
						{foreach $data as $val } 
							<th bgcolor="#00CC66"  colspan="2">{$val.title}</th>
							  <tr>
								<td height="200" width="236" >
								<img align="center"  width="212" height="200" border="0" src="{$basedomain}public_assets/{$val.image}"/> 
								</td>
								<td >
									<p>
										{$val.content}
									</p>
								</td>
							  </tr>
						{/foreach}
					{/if}
					</table>
					
				</div>
			
            </div><!--/.row--> 



        </div><!--/.container-->
    </section><!--/#feature-->


{*}
<br>
<p class="title1geophisic">
	2010 product list
</p>
<p class="title2geophisic">
	Geophisic Division
</p>
<table class="table">
{if $data}
		{foreach $data as $val } 
	<th bgcolor="#00CC66" colspan="2">{$val.title}</th>
  <tr>
    <td height="140" width="40%" >
	<img align="center"  width="212" height="66" border="0" src="{$basedomain}public_assets/{$val.image}"/> 
	</td width="60%">
    <td>
		<p>
			{$val.content}
		
		</p>
	</td>
  </tr>
		{/foreach}
	{/if}
 </table> 
	<tr>
		<p class="footer1">INDONESIA Authorized Agent</p>
		<p class="footer2">PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </p>
		<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
	</tr>
	{/*}
	<tr>
		<hr>
			<p class="center">
			{if $data1}
				{foreach $data1 as $val1 } 
				<a href="{$basedomain}{$val1.file}" download="dokumen coy">
					<input type="button" value="download dokumen" src="{$basedomain}{$val1.file}" >
				</a>
				{/foreach}
			{/if}
			</p>
		
	</tr>

  
