
<div id="frame_kanan">
		<tr>
			{if $data}
				{foreach $data as $val } 
							<!--{$val}  -->
					<p align="center">
						<a href="#">
							<img width="180" height="50" border="0" src="{$basedomain}{$val.image}"/>
							</a>
					</p>
				{/foreach}
			{/if}
		</tr>
</div>
<div id="frame_kiri">
	<p align="center">
		<img width="179" height="34" border="0" src="{$basedomain}assets/images/partner/ani-welcome1.gif"/>
	</p>
	<p>
		PT. MITRA INTIMARGA is a supplier for Laboratories and Research Institutes in INDONESIA. Our product knowledge, experience and personnel provide expertise from a mix of Geophysics, Electronics Engineer and Scientific Background designed to meet the challenges of your Laboratory & Research.
	</p>
	<p>
		Our emphasis is to understand our products within your application and provide quick and accurate response with in "1A" BEST PRICE and BEST QUALITY.
	</p>
	<p>
		Thanks to the Partnership with a several number of Manufacturers was developed on the area of Science and Engineering to meet the needs of Researchers, Professional, Academic and Government Communities.
	</p>
	<p>
		As with all our product, the components and systems detailed here have been selected to deliver the very highest performance and reliability with exceptional value for money.
	</p>
	<p>
		When dealing with PT. MITRA INTIMARGA you’ll receive advice and information from trained Engineers whose technical expertise to handle for installation and after sales service allowing you to make decision through us, quickly and easily....
	</p>
	<p>
		Call Us to arrange before your buy our range of products.
	</p>
</div>