
<div id="wrapperhome">
	<div id="slides" align="center">
		 <img src="{$basedomain}assets/file/slide-3.png" width="100%"/>
		 <div id="divbtnslide">
		 <a onClick="ga('send', 'event', 'Button', 'Click', 'FBConnect');" href="{$accessUrlFb}" class="btn-fslide">&nbsp;Connect</a>&nbsp;&nbsp;&nbsp;
		<a onClick="ga('send', 'event', 'Button', 'Click', 'TwitterConnect');" href="{$accessUrlTwitter}" class="btn-tslide">&nbsp;Connecta</a>
		</div>
		
		<div id="basic-modal-content">
			<div id="imgAlbum">
				<img src="{$basedomain}assets/file/Bumper_produk.png" width="110%"/>
			</div>
			<div id="contentAbout">
			<span class="titleAbout">Berbagi Momen Keceriaan Si Kecil!</span>
			<p class="isiAbout">Menyaksikan Si Kecil tumbuh sehat & ceria adalah keinginan setiap orang tua. Siapa yang tak senang melihat Si Kecil memainkan tuts piano, belajar menggambar atau berhasil menulis namanya sendiri? Abadikan selalu momen keceriaan Si Kecil dalam mengekspresikan kreativitasnya di Go with ActivGro!<br><br>Dukung keceriaan Si Kecil dengan vitamin dan mineral yang cukup agar Ia tumbuh optimal. Susu Pertumbuhan Nestl&eacute; LACTOGEN 3 ActivGro hadir untuk Si Kecil yang berusia 1-3 tahun yang diperkaya 12 vitamin, 7 mineral, Minyak Ikan dan LA untuk selalu mendukung tumbuh kembangnya. Setelah itu, lanjutkan kebutuhan nutrisinya dengan Nestl&eacute; LACTOGEN 4 ActivGro sampai Ia berusia 5 tahun. Diperkaya dengan 11 vitamin, 8 mineral dan minyak ikan.<br><br>Bantu penuhi nutrisi Si Kecil dengan Nestl&eacute; LACTOGEN 3 ActivGro dan lanjutkan dengan Nestl&eacute; LACTOGEN 4 ActivGro. Si Kecil yang aktif dan ceria akan selalu menjadi kebanggan Ibu dan Ayah!
</p>
			</div>
		</div>

		
	</div>
</div>