<section id="contact-info">
        <div class="center">                
            <h2>How to Reach Us?</h2>

            <p class="lead">&nbsp;</p>

        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        {*}<div class="gmap">{/*}
                        <div class="">
                            {*}<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=JoomShaper,+Dhaka,+Dhaka+Division,+Bangladesh&amp;aq=0&amp;oq=joomshaper&amp;sll=37.0625,-95.677068&amp;sspn=42.766543,80.332031&amp;ie=UTF8&amp;hq=JoomShaper,&amp;hnear=Dhaka,+Dhaka+Division,+Bangladesh&amp;ll=23.73854,90.385504&amp;spn=0.001515,0.002452&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=1073661719450182870&amp;output=embed"></iframe>
                            {/*}
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.070657752631!2d106.9898606!3d-6.254421600000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x9c743b18d0dea317!2sPT+Mitra+Inti+Marga!5e0!3m2!1sid!2sid!4v1415576556344" width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0"></iframe>
                        </div>
                    </div>

                    <div class="col-sm-6 map-content">
                        <ul class="row">
                            <li class="col-sm-11">
                                <address>
                                    <strong>
                                    <h5>INDONESIA</h5>
                                    <p>PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148, Indonesia</p>
									<p>Phone No. (021) 8243 4829<br/>
									Fax No. (021) 8243 4831<br/>
									E-mail : sales@ptmitra.com <br/>
									Website : http://www.ptmitra.com</p>
                                    </strong>
                                </address>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->
<section id="contact-page">
        <div class="container">
            <div class="center">        
                <h2>CONTACT US</h2>
                <p class="lead">Tell us about you </p>
            </div> 
            <div class="row contact-wrap"> 

                <div class="status alert alert-success" style="display: none"></div>

               
                <form class="contact-form"  method="post" action="{$basedomain}contact/proses_pesan">
                 
                    <div class="col-sm-5 col-sm-offset-1">
                        <div class="form-group">
                            <label>FULL NAME :</label>
                            <input type="text" name="nama" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>ADDRESS :</label>
                            <input type="text" name="alamat" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>CITY/TOWN :</label>
                            <input type="text" name="kota" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>INSTITUTION/DEPT :</label>
                            <input type="text" name="institusi" class="form-control">
                        </div>    
						<div class="form-group">
                            <label>TELP :</label>
                            <input type="text" name="telp" class="form-control">
                        </div>   
						<div class="form-group">
                            <label>FAX :</label>
                            <input type="text" name="fax" class="form-control">
                        </div> 
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label>EMAIL :</label>
                            <input type="text" name="email" class="form-control" required="required">
                        </div>
						<div class="form-group">
                            <label>SUBJECT :</label>
                            <input type="text" name="subjek" class="form-control" required="required">
                        </div>
                        <div class="form-group">
                            <label>MESSAGE :</label>
                            <textarea name="komentar" id="message" required="required" class="form-control" rows="8"></textarea>
                        </div>                        
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary btn-lg" required="required" value="Send"/>
                        </div>
                    </div>
                </form> 
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#contact-page-->

{*}
<p class="contact_title"> 
	CONTACT US
</p>
<p class="contact_center"> 
	Tell us about you 
</p>
			<div id="contact_center">
				<table>
					<tr>
						<td colspan="2" align="right">FULL NAME :</td>
						<td><INPUT TYPE="TEXT" NAME="nama" SIZE="25"></td>
					</tr>
					<tr>
						<td colspan="2" align="right">ADDRESS :</td>
						<td><INPUT TYPE="TEXT" NAME="alamat" SIZE="25"></td>
					</tr>
					<tr>
						<td colspan="2" align="right">CITY/TOWN :</td>
						<td><INPUT TYPE="TEXT" NAME="kota" SIZE="25"></td>
					</tr>
					<tr>
						<td colspan="2" align="right">INSTITUTION/DEPT :</td>
						<td><INPUT TYPE="TEXT" NAME="institusi" SIZE="25"></td>
					</tr>
					<tr>
						<td colspan="2" align="right">TELP :</td>
						<td><INPUT TYPE="TEXT" NAME="telp" SIZE="25">   FAX :</td>
						<td><INPUT TYPE="TEXT" NAME="fax" SIZE="15"></td></td>
						
					</tr>
					<tr>
						<td colspan="2" align="right">EMAIL :</td>
						<td><INPUT TYPE="TEXT" NAME="email" SIZE="25"></td>
					</tr>
					<tr>
						<td colspan="2" align="right">SUBJECT :</td>
						<td colspan="2"><INPUT TYPE="TEXT" NAME="subjek" SIZE="50"></td>
					</tr>
					<tr>
						<td colspan="2" align="right">MESSAGE :</td>
						<td colspan="2"><TEXTAREA NAME="komentar" ROWS="10" COLS="40" WRAP="OFF"></TEXTAREA>
					</tr>
					<tr>
					<td colspan="2"></td>
					<td><INPUT TYPE="SUBMIT" NAME="kirim" VALUE="Send"><INPUT TYPE="RESET" NAME="reset" VALUE="Reset"></td>
					<tr>
				</table>
			</div>
		
		<tr>
		  <th colspan="2">  
				<p class="footer1">INDONESIA</p>
				<p class="footer2"><b>PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </b></p>
				<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
		</tr>
{/*}