
<div id="wrapperhome">
	<div id="slides">
		 <div id="imgupload"><img src="{$basedomain}assets/file/slide-form.png" width="100%"/></div>
		 <div id="formregister">
			<form method="POST" action="{$basedomain}home/inputForm">
			<div class="formLeft">
				 <div >
					<span  class="input-list style-5 clearfix"><input type="text" placeholder="Nama Lengkap" name="nama" value="{$user.name}" style="width:280px" required class="nama"></span>
				</div>
				<div>
					<span  class="style-5">
						<input type="email" placeholder="Email" name="email" value="{$user.email}" {if $user.email}readonly{/if} style="width:280px" required>
					</span>
				</div>
				<div style="border:1px solid #EEECED">

					<span  class="style-5"><input type="text" placeholder="No. Telp" name="telp" style="width:100px" required></span>

					<span  class="style-5">
					<!--<input type="text" placeholder="No. Telp" size="20">-->
						<div class="styled-select">
							<select onchange="this.className=this.options[this.selectedIndex].className" name="jmlhAnak" id="jmlhAnak" class="colorgrey">
								<option class="colorgrey"> Jumlah anak</option>
								<option value="1" class="colorblack">1</option>
								<option value="2" class="colorblack">2</option>
								<option value="3" class="colorblack">3</option>
							</select>
						</div>
					</span>
				</div>
				<div>

					<span  class="input-list style-5 clearfix"><textarea placeholder="Alamat" name="alamat" width="335px" required></textarea></span>
			</div>
				 
			</div>
			
			<div class="formRight">
				<div class="formRtop">
					<div>
					<span  class="style-5">
						<input type="text" placeholder="Nama anak" name="childName[]" style="width:100px" required>
					</span>
					<span  class="style-5" style="border:0px solid #000;">

						<input type="text" placeholder="Tanggal lahir anak" name="childDate[]" data-beatpicker="true" data-beatpicker-module="icon,clear"  style="width:120px" class="childDate1" required><img src="{$basedomain}assets/img/kalender.png" class="date1" style="border:0px solid #000;margin-top:15px;margin-left:10px;"/>

					</span>
					</div>

					<div style="display:none" id="dataAnak2">
					<span  class="style-5">
						<input type="text" placeholder="Nama anak" name="childName[]" style="width:100px" id="childName1">
					</span>
					<span  class="style-5" style="border:0px solid #000;">
						<input type="text" placeholder="Tanggal lahir anak" name="childDate[]" data-beatpicker="true" data-beatpicker-module="icon,clear"  style="width:120px" class="childDate2"><img src="{$basedomain}assets/img/kalender.png" class="date2" style="border:0px solid #000;margin-top:15px;margin-left:10px;"/>
					</span>
					</div>

					<div style="display:none" id="dataAnak3">
					<span  class="style-5">
						<input type="text" placeholder="Nama anak" name="childName[]" style="width:100px" id="childName2">
					</span>
					<span  class="style-5" style="border:0px solid #000;">
						<input type="text" placeholder="Tanggal lahir anak" name="childDate[]" data-beatpicker="true" data-beatpicker-module="icon,clear" style="width:120px" class="childDate3"><img src="{$basedomain}assets/img/kalender.png" class="date3" style="border:0px solid #000;margin-top:15px;margin-left:10px;"/>
					</span>
					</div>

				</div>
				
					
				


				<div class="formRbottom" align="right"><br/>

				<input type="checkbox" name="checkboxG2" id="checkboxG2" class="css-checkbox" akses="1" checked="checked" required/><label for="checkboxG2" class="css-label"></label><strong>Saya menyetujui <span  id='basic-modal'><a href='#' class='basic2'><u>Syarat dan Ketentuan</u></a></span> yang berlaku.</strong><br/>
				<input type="submit" class="btnpinkslide" value="Submit"/>
				</div>
			</div>
			</form>
		 </div>
	</div>
</div>

<script type="text/javascript">

	{literal}

		


		$(document).on('click', '.date1', function(){

			$('.childDate1').trigger('click');
		})

		$(document).on('click', '.date2', function(){

			$('.childDate2').trigger('click');
		})

		$(document).on('click', '.date3', function(){

			$('.childDate3').trigger('click');
		})

		$(document).on('change', '#jmlhAnak', function(){

			var jlh = $(this).val();
			console.log(jlh);

			if (jlh == 1){
				$('#dataAnak2').css('display','none');
				$('#dataAnak3').css('display','none');
			}

			if (jlh == 2){
				$('#dataAnak2').css('display','block');
				$('#dataAnak3').css('display','none');
				$('#childName1').attr('required','required');
				$('#postdate1').attr('required','required');
				
			}

			if (jlh == 3){
				$('#dataAnak2').css('display','block');
				$('#dataAnak3').css('display','block');
				$('#childName1').attr('required','required');
				$('#childName2').attr('required','required');
				$('#postdate1').attr('required','required');
				$('#postdate2').attr('required','required');
			}

		})
	{/literal}	
</script>
