<?php defined ('MICRODATA') or exit ( 'Forbidden Access' ); ?>

	<br>
		<!--<h3 class="h3">Biodiversitas{$basedomain}</h3> -->
		<p class="title">
			Mitra harapan kami …………..
		</p>
		<p>
			 1A : “The First and The Best” Yang pertama dan Yang Terbaik artinya dapat dipercaya baik dalam hitungan “1 = Angka” maupun dengan komitmentnya “A = Huruf”.

		</p>
		<p>
			 Mitra terpercaya dalam Teknologi Laboratorium Produksi dan Informasi
		</p>
		<p>
			 Adalah  Perusahaan  Mitra  yang  profesional,  Inti  berintegritas  tinggi,  transparan,  dengan  Marga  cerdas  dan mumpuni. (PT. MITRA INTIMARGA)
		</p>
		<p>
			  Agar dapat memahami kebutuhan para Pelanggan dan dukungan Para Mitra dengan lebih baik, Mitra mestilah patner lokal sejati berkualitas Internasional.</p>
		<p>
			Terimakasih atas kepercayaan dan dukungan para Mitra kami…….
		</p>
		

