
<section id="recent-works">
        <div class="center container">
            <div class="center wow fadeInDown">
				<h2 align="center"><img align="center" class="img-responsive img-blog" border="0" src="{$basedomain}assets/images/logolanding.gif"/></h2>
                
                <table align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse" >
                    <tr>
                        <td><img align="center" class="img-responsive img-blog" border="0" src="{$basedomain}assets/images/telunjuk.jpg"/></td>
                        <td><a href="{$basedomain}home/home"><img align="center" class="img-responsive img-blog" border="0" src="{$basedomain}assets/images/about-home.gif"/></a></td>
                        <td><a href="{$basedomain}home/visi"><img align="center" class="img-responsive img-blog" border="0" src="{$basedomain}assets/images/visi-home.gif"/></a></td>
                        <td><img align="center" class="img-responsive img-blog" border="0" src="{$basedomain}assets/images/telunjuk-2.jpg"/></td>
                    </tr>
                </table>

			{*}	<h2><a href="{$basedomain}home/home" class="btn btn-warning" style="font-size:20pt">HOME</a></h2>{/*}
				
            </div>

            <div class="col-sm-12" align="center">
            	<center>
            <div style="width:400px;margin-top:-50px;">
            	<marquee><p style="color:green; font-style:italic"><img align="center" class="img-responsive img-blog" border="0" src="{$basedomain}assets/images/marquee.jpg"/></p><marquee>
            </div></center>
            </div>
        </div><!--/.container-->
    </section><!--/#recent-works-->