
<section id="recent-works">
        <div class="center container">
            <div class="center wow fadeInDown">
				<h2 align="center"><img align="center" class="img-responsive img-blog" border="0" src="{$basedomain}assets/images/logolanding.png"/></h2>
				<h2><a href="{$basedomain}home/home" class="btn btn-warning" style="font-size:20pt">HOME</a></h2>
				
            </div>

            <div class="col-sm-12" align="center">
            	<center>
            <div style="width:400px">
            	<marquee><p style="color:green; font-style:italic">A trusted partner in laboratory, production and information technology</p><marquee>
            </div></center>
            </div>
        </div><!--/.container-->
    </section><!--/#recent-works-->