<ul>
	<li>
		<a href="{$basedomain}">Home</a>
	</li>
	<li>
		<a href="{$basedomain}about_us">About Us</a>
	</li>
	<li>
		<a> Produk</a>
			<ul>
				<li>
					<a href="{$basedomain}produk/geophsics">Geophysics</a>
				</li>
				<li>
					<a href="{$basedomain}produk/scientifics">Scientifics</a>
				</li>
				<li>
					<a href="{$basedomain}produk/scientifics">Download Produk</a>
				</li>
			</ul>
	</li>
	<li>
		<a href="{$basedomain}contact">Company and Links</a>
		<ul>
			<li>
				<a>Company</a>
				<ul> 
					<li>
						<a href="{$basedomain}company/company_profile">Company Profile</a></li>
					<li>
						<a href="{$basedomain}company/company_division">Company Division</a></li>
					<li>
						<a href="{$basedomain}company/company_organization">Company Organization </a></li>
					<li>
						<a href="{$basedomain}company/company_marketing">Company Marketing Strategy </a></li>
					<li>
						<a href="{$basedomain}company/company_customerlist">Company Costumer List </a></li>
				</ul>
			</li>
			<li>
				<a href="{$basedomain}company/customer_location">Customer Location</a></li>
			<li>
				<a href="{$basedomain}company/overseas">Overseas Link</a></li>
		</ul>
	</li>
	<li>
		<a href="{$basedomain}news">News and Info</a>
		<ul>
			<li>
				<a href="{$basedomain}monthsnews">This Month News </a></li>
			<li>
				<a>Our Activities </a>
					<ul>
						<li>
							<a href="{$basedomain}lab_training">Lab Training </a></li>
						<li>
							<a href="{$basedomain}field_training">Field Training </a></li>
					</ul>
				</li>
			
			<li>
				<a href="{$basedomain}rental">Rental & Services </a></li>
		</ul>
	</li>
	<li>
		<a href="{$basedomain}contact">Contact Us</a>
	</li>	
</ul>