
<div>
<!--<img src="{$basedomain}assets/images/header.jpg"/> -->
	<!--<a href="{$basedomain}" id="logo"></a> -->
	<ul>
		<li class="">
			<a href="{$basedomain}">Home</a>
		</li>
		<li class="">
			<a href="{$basedomain}specimen">About Us</a>
		</li>
		<li class="">
			<a href="{$basedomain}services/">Geophysics</a>
		</li>
		<li class="">
			<a href="{$basedomain}contact">Company and Links</a>
		</li>
		<li class="">
			<a href="{$basedomain}news">News and Info</a>
		</li>
		<li class="">
			<a href="{$basedomain}news">Contact Us</a>
		</li>
		
	</ul>
</div>