
<div id="wrapperhome2">
	<div id="userPrivacy" >

		<span class="titleAbout" style="margin-left:25">Kebijakan Privasi</span>

		<p class="isiAbout">
			<ol class="isiAbout">
				<li>
					<strong>Nestl&eacute; LACTOGEN Activgro</strong> (Kami) menghormati privasi Anda. Kami ingin Anda memahami bahwa setiap kali Anda mengunjungi atau mendaftar di kompetisi <strong>Go with Activgro</strong>, Anda setuju dengan Syarat dan Ketentuan kami dan memahami Kebijakan Privasi kami.
				</li>
				<li>
					Kebijakan ini berlaku untuk pengumpulan dan penggunaan informasi pribadi pengguna (user) yang berada di bawah kendali langsung kompetisi <strong>Go with Activgro</strong>. Ini tidak berlaku untuk perusahaan lain atau organisasi situs web yang terkait dengan kami. Kebijakan ini menjelaskan jenis informasi apa yang kami kumpulkan tentang Anda, bagaimana kami menggunakannya, dalam keadaan apa kami mengungkapkannya kepada pihak ketiga, dan hak-hak Anda untuk memperbarui atau memperbaikinya.
				</li>
				<li>
					Tujuan Kebijakan Privasi adalah untuk melindungi para pengguna dan karyawan dari pencurian identitas atau penipuan, rasa malu yang dihasilkan dari ketidakbijaksanaan terkait rincian pribadi mereka, perlakuan yang tidak adil atau pemasaran yang menipu.
				</li>
				<li>
					Pengumpulan informasi pribadi akan dibatasi pada item yang diperlukan untuk memenuhi dan melengkapi proses pendaftaran kompetisi <strong>Go with Activgro</strong>. Informasi tambahan mungkin dibutuhkan dan diambil dengan izin pengguna, termasuk penjelasan tujuannya.
					</li>
				<li>
					Informasi pribadi yang dikumpulkan akan diperlakukan sebagai konfidensial dan kompetisi <strong>Go with Activgro</strong> akan memberlakukan perlindungan yang memenuhi syarat secara prosedural, teknis dan fisik sebagai perlindungan terhadap kehilangan, penyalahgunaan, akses tidak sah, pengungkapan atau perubahan.
					</li>
				<li>
					Adalah kebijakan kami bahwa hanya yang berwenang dari agensi atau staf kompetisi <strong>Go with Activgro</strong> yang dapat mengakses dan menggunakan informasi pribadi Anda. Staf atau agensi yang melanggar Kebijakan Privasi kami tunduk pada proses disipliner.
					</li>
				<li>
					Adalah kebijakan kami untuk tidak berbagi informasi pribadi pengguna di luar kompetisi <strong>Go with Activgro</strong> untuk tujuan apapun selain kepentingan kompetisi <strong>Go with Activgro</strong>, kecuali pengungkapan tersebut telah disahkan oleh pengguna atau diizinkan atau diharuskan oleh hukum.</li>
				<li>
					Dengan mengikuti Kompetisi <strong>Go with Activgro</strong> berarti Anda telah menyetujui isi Kebijakan Privasi ini. Jika Anda tidak berkenan dengan Kebijakan Privasi kami, mohon untuk tidak mengikuti kompetisi ini.
					</li>
				</ol>
		</p>
	</div>
</div>