 {if $data}
 <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Company Customer List</h2>
                <p class="lead">&nbsp;</p>
            </div>

            <div class="row">
				<div class="col-sm-12">
					
						
							<p>
                            {$data.content.content|html_entity_decode}
                            </p>    
						
		


        </div><!--/.container-->
    </section><!--/#feature-->


	<tr>
	<hr>
		<p class="center">
			{if ($data.repo.files) !='' }
		
				<a href="{$basedomain}public_assets/{$data.repo.files}"  download="dokumen"  class="btn btn-info" target="_blank"><i class="fa fa-download"></i>
					Download File
				</a>
			{/if}
		</p>	

</tr>
{/if}