
 <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Company Profile</h2>
             {*}<p class="lead">&nbsp;</p>{/*}
            </div>

            <div class="row">
				<div class="col-sm-12">
					{if $data}
						{foreach $data as $val } 
							<p>
							{$val.content|html_entity_decode}
							</p>	
						{/foreach}
					{/if}
					
				</div>
			
            </div><!--/.row--> 



        </div><!--/.container-->
    </section><!--/#feature-->

	<tr>
		<hr>
			<p class="center">
			{if $data1}
				{foreach $data1 as $val1 } 
				<a href="{$basedomain}public_assets/{$val1.files}" download="dokumen" target="_blank">
					<input type="button" value="Download {$val1.title}" src="{$basedomain}public_assets/{$val1.files}" >
				</a>
				{/foreach}
			{/if}
			</p>
		
	</tr>