 <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Company Customer List</h2>
                <p class="lead">&nbsp;</p>
            </div>

            <div class="row">
				<div class="col-sm-12">
					{if $data}
						{foreach $data as $val } 
							{$val.content}
						{/foreach}
					{/if}
					
					 <p style="margin-top: 4; margin-bottom: -15"><b><font size="2">&nbsp; 
          I.&nbsp;&nbsp;&nbsp; GOVERNMENT AGENCY :</font></b></p>
          <ul type="circle" style="list-style-type: circle; font-family: Book Antiqua; font-size: 10px">
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">
            Directorate General of Geology and Mineral Resources (ESDM), Bandung</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Bureau of 
            Meteorology and Geophysics (BMG), Jakarta</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Research 
            Center for Calibration, Instrumentation and Metrology, Indonesia 
            Institute of Sciences (KIM-LIPI), Serpong</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Research &amp; 
            Development Center of Applied Physics (P2F-LIPI), Serpong</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Agency for 
            the Assessment and Application of Technology (BPPT), Jakarta</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">A Center 
            of Physics Applied, Indonesia Institute of Sciences (P2F-LIPI), 
            Bandung</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Magnetics 
            Observatory Station, Pelabuhan Ratu</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Magnetics 
            Observatory Station, Kupang</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Research 
            Venter for Oceanography, LIPI, Ancol</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Energy and 
            Mineral Resources, Palembang</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Technology 
            Center for Marine Survey (Baruna Jaya), Jakarta</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Research 
            Center for Geotechnology (Geotech-LIPI), Bandung</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
            of Energy and Mineral Resources, Kupang</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
            of Energy and Mineral Resources, Banjarmasin</font></li>
            <li>
            <p style="margin-top: 0; margin-bottom: 0"><font size="2">Research &amp; 
            Development Center&nbsp; Mineral &amp; Coal Technology (tek MIRA), 
            Bandung</font></li>
          </ul>
              <p style="margin-bottom: -15"><b><font size="2">&nbsp; II.&nbsp; 
              ACADEMIC INSTITUTION/UNIVERSITIES :</font></b></p>
              <ul type="circle" style="list-style-type: circle; font-family: Book Antiqua; font-size: 10px">
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Medical Physics, Medical Faculty, University of Indonesia (UI), 
                Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Syiah Kuala (UNSYIAH), Banda Aceh</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Sumatera Utara (USU), Medan</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, State University of Medan (UNIMED), Medan</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Jabal Ghafur (UJG), Sigli</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Bengkulu (UNIB), Bengkulu</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Sriwijaya (UNSRI), Palembang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Lampung (UNILA), Bandar Lampung</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, Bogor Institute of Agriculture (IPB), Bogor</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, Bandung Institute of Technology (ITB), Bandung</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Andalas (UNAND), Padang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Hasanuddin (UNHAS), Makassar</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Lambung Mangkurat (UNLAM), Banjarmasin</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Padjajaran (UNPAD), Bandung</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Diponegoro (UNDIP), Semarang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, Institutes Teknogi Sepuluh Nopember (ITS), Surabaya</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Airlangga (UNAIR), Surabaya</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Sebelas Maret (UNS), Solo</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Jember (UNJEM), Jember</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, State Universiy of Yogyakarta (UNY), Yogyakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, State University of Malang (UNEMAL), Malang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, State University of Jakarta (UNJ), Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, University of Syiah Kuala (UNSYIAH), 
                Banda Aceh</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, State Polytechnic of Jakarta, Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, State Polytechnic of Semarang, Semarang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, University of Diponegoro (UNDIP), 
                Semarang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Geophysical &amp; Engineering, Institute Technology Bandung (ITB), 
                Bandung</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Meteorology and Geophysics, Institute Technology Bandung (ITB), 
                Bandung</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Fisheries 
                Laboratory, Institute of Fisheries (STP) Fisheries and Marine 
                Department, Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, State Polytechnic of Padang, Padang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Makassar (UNM), Makassar</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, Fakulty of Mathematicss and Natural Sciences University 
                of Khairun, Ternate, MALUT</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University Pembangunan Nasional &quot;Veteran&quot; 
                (UPN&quot;Veteran&quot;), Yogyakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, Faculty of Mathematicss and Natural Sciences, University 
                of Indonesia (UI), Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, State Polytechnic of Padang, Padang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Training 
                Center Agency&nbsp; and Industry of Banten, Serang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, University of Bengkulu (UNIB), Bengkulu</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, University of Jakarta (UNJ), Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, State Polytechnic of Lhokseumawe, 
                Lhokseumawe</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Training 
                Center Agency&nbsp; and Industry of Pulogadung, Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, University of Sumatera Utara (USU), Medan</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, State Polytechnic of Makassar, Makassar</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, State Polytechnic of Samarinda, Samarinda</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Electrical Engineering, State Polytechnic of Pontianak, Pontianak</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Training 
                Center Agency&nbsp; and Industry of Makassar, Makassar</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Khairun, Ternate</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Pembangunan Nasional (UPN' Veteran), 
                Yogyakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Department 
                of Physics, University of Padang (UNP), Padang</font></li>
              </ul>
              <p style="margin-bottom: -15"><font size="2">&nbsp; <b>III.&nbsp; 
              PRIVATE SECTOR :</b></font></p>
              <ul type="circle" style="list-style-type: circle; font-family: Book Antiqua; font-size: 10px">
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Freeport Indonesia, Timika, 
                PT., Timika, Papua</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Mineserve 
                International, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Kutai 
                Mahakam Sumber Jaya (KAMASURYA), PT., Balikpapan, KALTIM</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Demix 
                Jaya Utama, PT., Sukabumi, JABAR</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Kenangan Baru, 
                CV., Banda Aceh, ACEH</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Fakta 
                Abadi, CV., Padang, SUMBAR</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Karya 
                Putra Sulawesi, PT., Makassar, SULSEL</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Podoman 
                Karya, PT., Ambon, MALUKU</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Arefto 
                Data Cipta, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Embete 
                Utama, CV., Jember, JATIM</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Arkka 
                Buana Utama Dinamika, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Giwang 
                Kanaka, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Ricky Putra Pratama, 
                PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Sarana 
                Medica Optindo (SMO), PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Silvia Maju Bersama, 
                CV., Surabaya, JATIM</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Margo Mulyo, 
                CV., Solo</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Berkah 
                Jayatama, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Pura 
                Barutama, PT., Kudus, JATENG</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">South 
                Pacific Uncous, PT., Purwakarta, JABAR</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Pondasi, 
                CV., Malang, JATIM</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Bahtera Kencana, 
                CV., Banda Aceh, ACEH</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Ayudia 
                Sejahtera, CV., Banda Aceh, ACEH</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Wijaya 
                Purnabisakti, PT., Bandung, JABAR</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Royal 
                Standard, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Arya 
                Supra Nugraha, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Kharisma Tricatama, 
                PT.,&nbsp; Bandung, JABAR</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Sankay 
                Jaya Mandiri, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Bumi 
                Energy Lestary, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Ageka 
                Imaging Survey, PT., Bandung, JABAR</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Putri 
                Borneo, CV., Bandung, JABAR</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Sawarna, 
                CV., Bandung, JABAR</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Delta 
                Utama Teknik, PT., Bandung, JABAR</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Surya 
                Kencana, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Graha 
                Internusa Medika, CV., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">
                Mangkubuana Hutama, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Citra 
                Trihasta, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Karya 
                Suksestama, PT., Kupang, NTT</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Wilma 
                Sejahtera, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Ilham 
                Electronik, CV., Padang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">
                Multibinika Teknik Utama, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Sumindro 
                Citra Assayoshi, PT., Padang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Sebuku 
                Iron Lateritic Ores (SILO), PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Tawang 
                Mineral Indonesia, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Gloria 
                Scientific Abadi, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Putra Alam 
                Lestari, PT., Kalimantan</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Daewoo 
                Logistics Indonesia, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Adi Putra, 
                CV., Bali</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Geoscan 
                Eksplorasindo, PT., Bandung</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Geo Drill 
                Indonesia, PT., Depok, JABAR</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Fahyusma 
                Sakti, CV., Banda Aceh</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Swatama 
                Mega Teknik, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Bintang 
                Muda, CV., Banda Aceh</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Sarana 
                Muda, CV., Makassar</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Masmo 
                Masjaya, PT., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Maju Jaya, 
                CV., Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Asra 
                Tunggal Jaya, CV., Malang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Budhi 
                Agung Mandiri, CV., Padang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Dzaky, CV, 
                Padang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Sumber 
                Karya Mulia, CV, Banten</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Maju Jaya, 
                CV, Bengkulu</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Rimba 
                Domafit Jaya, PT, Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Salimna, 
                PT, Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Serumpun 
                Sebalai, CV, Bangka Belitung</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Dinamika 
                Tropikal Semesta, PT, Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Trio 
                Darsaputra Perdana, PT, Lhokseumawe</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Kurnia 
                Agung, CV, Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Mesindo 
                Semesta Insani, PT, Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Duta 
                Khayangan, CV, Padang</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Dayamega 
                Pratama, PT,&nbsp; Medan</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Rimba Raya 
                Utama, PT, Makassar</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Gema 
                Persada, CV, Samarinda</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Omega, CV, 
                Pontianak</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Multi 
                Buana Industrindo, PT, Bengkulu</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Utama 
                Putri Eqila, CV, Banten</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Benteng 
                Aznal, CV, Makassar</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Alfathan 
                Inventaria, CV, Ternate</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Alpha 
                Sebuku Investment Corp, Manila - Filipina</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Naufalindo 
                Sci, CV, Yogyakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Triasih 
                Bayurama, PT, Jakarta</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Intan 
                Banyu Biru, CV, Bandung</font></li>
                <li>
                <p style="margin-top: 0; margin-bottom: 0"><font size="2">Pakuan 
                Cipta Selaras, PT, Bogor</font></li>
              </ul>
				</div>
			
            </div><!--/.row--> 



        </div><!--/.container-->
    </section><!--/#feature-->


{*}
<p class="framejudul">
Company Division
</p>
{if $data}
		{foreach $data as $val } 
				{$val.content}
			{/foreach}
		{/if}
	<tr>
		<p class="footer1">INDONESIA Authorized Agent</p>
		<p class="footer2">PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </p>
		<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
	</tr>
	<tr>
	<hr>
		<p class="center">
		{if $data1}
			{foreach $data1 as $val1 } 
			<a href="{$basedomain}{$val1.file}" download="dokumen">
				<input type="button" value="download dokumen" src="{$basedomain}{$val1.file}" >
			</a>
			{/foreach}
		{/if}
		</p>	
</tr>
{/*}