 <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Company Customer List</h2>
                <p class="lead">&nbsp;</p>
            </div>

            <div class="row">
				<div class="col-sm-12">
					{if $data}
						{foreach $data as $val } 
							{$val.content}
						{/foreach}
					{/if}
					
					 I.    GOVERNMENT AGENCY :

    Directorate General of Geology and Mineral Resources (ESDM), Bandung

    Bureau of Meteorology and Geophysics (BMG), Jakarta

    Research Center for Calibration, Instrumentation and Metrology, Indonesia Institute of Sciences (KIM-LIPI), Serpong

    Research & Development Center of Applied Physics (P2F-LIPI), Serpong

    Agency for the Assessment and Application of Technology (BPPT), Jakarta

    A Center of Physics Applied, Indonesia Institute of Sciences (P2F-LIPI), Bandung

    Magnetics Observatory Station, Pelabuhan Ratu

    Magnetics Observatory Station, Kupang

    Research Venter for Oceanography, LIPI, Ancol

    Energy and Mineral Resources, Palembang

    Technology Center for Marine Survey (Baruna Jaya), Jakarta

    Research Center for Geotechnology (Geotech-LIPI), Bandung

    Department of Energy and Mineral Resources, Kupang

    Department of Energy and Mineral Resources, Banjarmasin

    Research & Development Center  Mineral & Coal Technology (tek MIRA), Bandung

  II.  ACADEMIC INSTITUTION/UNIVERSITIES :

    Department of Medical Physics, Medical Faculty, University of Indonesia (UI), Jakarta

    Department of Physics, University of Syiah Kuala (UNSYIAH), Banda Aceh

    Department of Physics, University of Sumatera Utara (USU), Medan

    Department of Physics, State University of Medan (UNIMED), Medan

    Department of Physics, University of Jabal Ghafur (UJG), Sigli

    Department of Physics, University of Bengkulu (UNIB), Bengkulu

    Department of Physics, University of Sriwijaya (UNSRI), Palembang

    Department of Physics, University of Lampung (UNILA), Bandar Lampung

    Department of Physics, Bogor Institute of Agriculture (IPB), Bogor

    Department of Physics, Bandung Institute of Technology (ITB), Bandung

    Department of Physics, University of Andalas (UNAND), Padang

    Department of Physics, University of Hasanuddin (UNHAS), Makassar

    Department of Physics, University of Lambung Mangkurat (UNLAM), Banjarmasin

    Department of Physics, University of Padjajaran (UNPAD), Bandung

    Department of Physics, University of Diponegoro (UNDIP), Semarang

    Department of Physics, Institutes Teknogi Sepuluh Nopember (ITS), Surabaya

    Department of Physics, University of Airlangga (UNAIR), Surabaya

    Department of Physics, University of Sebelas Maret (UNS), Solo

    Department of Physics, University of Jember (UNJEM), Jember

    Department of Physics, State Universiy of Yogyakarta (UNY), Yogyakarta

    Department of Physics, State University of Malang (UNEMAL), Malang

    Department of Physics, State University of Jakarta (UNJ), Jakarta

    Department of Electrical Engineering, University of Syiah Kuala (UNSYIAH), Banda Aceh

    Department of Electrical Engineering, State Polytechnic of Jakarta, Jakarta

    Department of Electrical Engineering, State Polytechnic of Semarang, Semarang

    Department of Electrical Engineering, University of Diponegoro (UNDIP), Semarang

    Department of Geophysical & Engineering, Institute Technology Bandung (ITB), Bandung

    Department of Meteorology and Geophysics, Institute Technology Bandung (ITB), Bandung

    Fisheries Laboratory, Institute of Fisheries (STP) Fisheries and Marine Department, Jakarta

    Department of Electrical Engineering, State Polytechnic of Padang, Padang

    Department of Physics, University of Makassar (UNM), Makassar

    Department of Physics, Fakulty of Mathematicss and Natural Sciences University of Khairun, Ternate, MALUT

    Department of Physics, University Pembangunan Nasional "Veteran" (UPN"Veteran"), Yogyakarta

    Department of Physics, Faculty of Mathematicss and Natural Sciences, University of Indonesia (UI), Jakarta

    Department of Electrical Engineering, State Polytechnic of Padang, Padang

    Training Center Agency  and Industry of Banten, Serang

    Department of Electrical Engineering, University of Bengkulu (UNIB), Bengkulu

    Department of Electrical Engineering, University of Jakarta (UNJ), Jakarta

    Department of Electrical Engineering, State Polytechnic of Lhokseumawe, Lhokseumawe

    Training Center Agency  and Industry of Pulogadung, Jakarta

    Department of Electrical Engineering, University of Sumatera Utara (USU), Medan

    Department of Electrical Engineering, State Polytechnic of Makassar, Makassar

    Department of Electrical Engineering, State Polytechnic of Samarinda, Samarinda

    Department of Electrical Engineering, State Polytechnic of Pontianak, Pontianak

    Training Center Agency  and Industry of Makassar, Makassar

    Department of Physics, University of Khairun, Ternate

    Department of Physics, University of Pembangunan Nasional (UPN' Veteran), Yogyakarta

    Department of Physics, University of Padang (UNP), Padang

  III.  PRIVATE SECTOR :

    Freeport Indonesia, Timika, PT., Timika, Papua

    Mineserve International, PT., Jakarta

    Kutai Mahakam Sumber Jaya (KAMASURYA), PT., Balikpapan, KALTIM

    Demix Jaya Utama, PT., Sukabumi, JABAR

    Kenangan Baru, CV., Banda Aceh, ACEH

    Fakta Abadi, CV., Padang, SUMBAR

    Karya Putra Sulawesi, PT., Makassar, SULSEL

    Podoman Karya, PT., Ambon, MALUKU

    Arefto Data Cipta, PT., Jakarta

    Embete Utama, CV., Jember, JATIM

    Arkka Buana Utama Dinamika, PT., Jakarta

    Giwang Kanaka, PT., Jakarta

    Ricky Putra Pratama, PT., Jakarta

    Sarana Medica Optindo (SMO), PT., Jakarta

    Silvia Maju Bersama, CV., Surabaya, JATIM

    Margo Mulyo, CV., Solo

    Berkah Jayatama, PT., Jakarta

    Pura Barutama, PT., Kudus, JATENG

    South Pacific Uncous, PT., Purwakarta, JABAR

    Pondasi, CV., Malang, JATIM

    Bahtera Kencana, CV., Banda Aceh, ACEH

    Ayudia Sejahtera, CV., Banda Aceh, ACEH

    Wijaya Purnabisakti, PT., Bandung, JABAR

    Royal Standard, PT., Jakarta

    Arya Supra Nugraha, PT., Jakarta

    Kharisma Tricatama, PT.,  Bandung, JABAR

    Sankay Jaya Mandiri, PT., Jakarta

    Bumi Energy Lestary, PT., Jakarta

    Ageka Imaging Survey, PT., Bandung, JABAR

    Putri Borneo, CV., Bandung, JABAR

    Sawarna, CV., Bandung, JABAR

    Delta Utama Teknik, PT., Bandung, JABAR

    Surya Kencana, PT., Jakarta

    Graha Internusa Medika, CV., Jakarta

    Mangkubuana Hutama, PT., Jakarta

    Citra Trihasta, PT., Jakarta

    Karya Suksestama, PT., Kupang, NTT

    Wilma Sejahtera, PT., Jakarta

    Ilham Electronik, CV., Padang

    Multibinika Teknik Utama, PT., Jakarta

    Sumindro Citra Assayoshi, PT., Padang

    Sebuku Iron Lateritic Ores (SILO), PT., Jakarta

    Tawang Mineral Indonesia, PT., Jakarta

    Gloria Scientific Abadi, PT., Jakarta

    Putra Alam Lestari, PT., Kalimantan

    Daewoo Logistics Indonesia, PT., Jakarta

    Adi Putra, CV., Bali

    Geoscan Eksplorasindo, PT., Bandung

    Geo Drill Indonesia, PT., Depok, JABAR

    Fahyusma Sakti, CV., Banda Aceh

    Swatama Mega Teknik, PT., Jakarta

    Bintang Muda, CV., Banda Aceh

    Sarana Muda, CV., Makassar

    Masmo Masjaya, PT., Jakarta

    Maju Jaya, CV., Jakarta

    Asra Tunggal Jaya, CV., Malang

    Budhi Agung Mandiri, CV., Padang

    Dzaky, CV, Padang

    Sumber Karya Mulia, CV, Banten

    Maju Jaya, CV, Bengkulu

    Rimba Domafit Jaya, PT, Jakarta

    Salimna, PT, Jakarta

    Serumpun Sebalai, CV, Bangka Belitung

    Dinamika Tropikal Semesta, PT, Jakarta

    Trio Darsaputra Perdana, PT, Lhokseumawe

    Kurnia Agung, CV, Jakarta

    Mesindo Semesta Insani, PT, Jakarta

    Duta Khayangan, CV, Padang

    Dayamega Pratama, PT,  Medan

    Rimba Raya Utama, PT, Makassar

    Gema Persada, CV, Samarinda

    Omega, CV, Pontianak

    Multi Buana Industrindo, PT, Bengkulu

    Utama Putri Eqila, CV, Banten

    Benteng Aznal, CV, Makassar

    Alfathan Inventaria, CV, Ternate

    Alpha Sebuku Investment Corp, Manila - Filipina

    Naufalindo Sci, CV, Yogyakarta

    Triasih Bayurama, PT, Jakarta

    Intan Banyu Biru, CV, Bandung

    Pakuan Cipta Selaras, PT, Bogor


				</div>
			
            </div><!--/.row--> 



        </div><!--/.container-->
    </section><!--/#feature-->


{*}
<p class="framejudul">
Company Division
</p>
{if $data}
		{foreach $data as $val } 
				{$val.content}
			{/foreach}
		{/if}
	<tr>
		<p class="footer1">INDONESIA Authorized Agent</p>
		<p class="footer2">PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </p>
		<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
	</tr>
	<tr>
	<hr>
		<p class="center">
		{if $data1}
			{foreach $data1 as $val1 } 
			<a href="{$basedomain}{$val1.file}" download="dokumen">
				<input type="button" value="download dokumen" src="{$basedomain}{$val1.file}" >
			</a>
			{/foreach}
		{/if}
		</p>	
</tr>
{/*}