<p class="framejudul">
Customer Location
</p>
	{if $data}
			{foreach $data as $val } 
			<img align="center"  width="100%" height="60%" border="0" src="{$basedomain}{$val.image}"/>
			{/foreach}
		{/if}

<tr>
		<p class="footer1">INDONESIA Authorized Agent</p>
		<p class="footer2">PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </p>
		<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
	</tr>
	<tr>
		<hr>
			<p class="center">
				<input align="center" class="center" type="button"  value="Print">
			</p>
		<hr>
	</tr>