<table class="table">
	<tr>
		<td height="20" width="50%">
			<P class="center">
				SCIENTIFICS
			</P>
		</td>
		<td>
			<P class="center">
				GEOPHYSICS
			
			</p>
		</td>
	</tr>	
	<tr>
		<td class="center" height="140" width="50%">
		{if $data}
			{foreach $data as $val } 
			<br>
				<img align="center"  width="212" height="66" border="0" src="{$basedomain}{$val.image}"/> 
			<br>
			{/foreach}
		{/if}
		</td>
		<td class="center" >
			{if $data1}
			{foreach $data1 as $val1 }
			<br>			
				<img align="center"  width="212" height="66" border="0" src="{$basedomain}{$val1.image}"/> 
			<br>
			{/foreach}
		{/if}
		</td>
	</tr>
  </table>
	<tr>
		<p class="footer1">INDONESIA Authorized Agent</p>
		<p class="footer2">PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </p>
		<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
	</tr>
	<tr>
		<hr>
			<p class="center">
				<input align="center" class="center" type="button"  value="Print">
			</p>
		<hr>
	</tr>
