<br>
<p class="title1geophisic">
	2010 product list
</p>

<p class="title2geophisic">
	Scientifics Division
</p>
<table class="table">
	{if $data}
		{foreach $data as $val } 
			<th bgcolor="#FF0000"  colspan="2">{$val.brief}</th>
			  <tr>
				<td height="140" width="236" >
				<img align="center"  width="212" height="66" border="0" src="{$basedomain}{$val.image}"/> 
				</td>
				<td class="center">
					<p>
						{$val.content}
					</p>
					
				</td>
				
			  </tr>
		{/foreach}
	{/if}
  </table>
  <br>
  <br>
  <tr>
	  <th colspan="2">  
			<p class="footer1">INDONESIA Authorized Agent</p>
			<p class="footer2">PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </p>
			<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
	  </tr>
 