<br>
<p class="title1geophisic">
	2010 product list
</p>

<p class="title2geophisic">
	Scientifics Division
</p>
<table class="table">
	{if $data}
		{foreach $data as $val } 
			<th bgcolor="#FF0000"  colspan="2">{$val.title}</th>
			  <tr>
				<td height="140" width="236" >
				<img align="center"  width="212" height="66" border="0" src="{$basedomain}public_assets/{$val.image}"/> 
				</td>
				<td class="center">
					<p>
						{$val.content}
					</p>
				</td>
			  </tr>
		{/foreach}
	{/if}
  </table>
  <br>
  <br>
	<tr>
	  <th colspan="2">  
			<p class="footer1">INDONESIA Authorized Agent</p>
			<p class="footer2">PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </p>
			<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
	</tr>
	<tr>
		<hr>
			<p class="center">
			{if $data1}
				{foreach $data1 as $val1 } 
				<a href="{$basedomain}public_assets/{$val1.title}" download="dokumen pdf">
					<input type="button" value="download dokumen" src="{$basedomain}public_assets/{$val1.title}" >
				</a>
				{/foreach}
			{/if}
			</p>
		
	</tr>
 