<div id="wrapdetailarticle">
	{if $article}
	<div id="articeDetail">
		<div id="articleImg">
			<img src="{$basedomain}public_assets/{$article[0].image}" width="434px"/>
		</div><br/>
		<div id="articleDesc">
			<span class="title"><p class="wordwrap">{$article[0].title}</p></span>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><strong>{$article[0].changeDate}</span></strong><br/><br/>
			<span class="brief">{$article[0].content}</span><br/><br/>
		</div>
	</div>
	{/if}
</div>
<div id="wrapper">
	<div id="wrapbtn" align="left" >

			<a href="{$basedomain}article/detail/?id={$prevNextArticle.prev}" class="btnpink" style="{if $prevNextArticle.prev=='#'}display:none{/if}">Prev Article</a>
		
	</div>
	
	<div id="wrapbtn" align="center">

		<a href="javascript:void(0)" class="btn-f" data-href="{$basedomain}article/detail/?id={$article[0].id}">&nbsp;</a>&nbsp;&nbsp;&nbsp;
		<a href="{$basedomain}article/detail/?id={$article[0].id}" title="{$article[0].title}" class="btn-t">&nbsp;</a>
		{*}
	{if $user}
		<a href="javascript:void(0)" class="btn-f" data-href="{$basedomain}article/detail/?id={$article[0].id}">&nbsp;</a>&nbsp;&nbsp;&nbsp;
		<a href="javascript:void(0)" class="btn-t">&nbsp;</a>
	{else}
		<a href="{$basedomain}home/connect/?login=true" class="btn-f">&nbsp;</a>&nbsp;&nbsp;&nbsp;
		<a href="{$accessUrlTwitter}" class="btn-t">&nbsp;</a>
	{/if}
	
	    <a href="https://twitter.com/share" id="shareTwitter" class="twitter-share-button" data-lang="en" 

      data-url="{$basedomain}article/detail/?id={$article[0].id}"

      data-via="ActivGro"

      data-text="{$article[0].title}"

      data-count="horizontal" >Tweet</a>{/*}
	{literal}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    {/literal}

	</div>

	<div id="wrapbtn" align="right">

			<a href="{$basedomain}article/detail/?id={$prevNextArticle.next}" class="btnpink" style="{if $prevNextArticle.next=='#'}display:none{/if}">Next Article</a>

	</div>

</div>
<div id="wrapperpembatas" align="center">
<span class="pembatas">
<span class="strip">- - - - - - - - - - - - - - - - - - - -</span>&nbsp;&nbsp;&nbsp;&nbsp;Artikel Lainnya&nbsp;&nbsp;&nbsp;&nbsp;<span class="strip">- - - - - - - - - - - - - - - - - - - </span>
</span>
</div>
<div id="wrapper" style="height:400px">

	{if $getRandomArticle}
	{foreach $getRandomArticle as $val}
	<div id="article">
		<img src="{$basedomain}public_assets/{$val.image}"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">{$val.title}</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{$val.changeDate}</span><br/>
			<span class="brief">{$val.brief}</span><br/><br/>
			<span><a href="{$basedomain}article/detail/?id={$val.id}"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	{/foreach}
	{/if}

	{*}
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="#"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><br/>
			<span><a href="#"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	{/*}

</div>{*}
<div id="wrapperbtn" align="center">
	<div id="divbtn">
		<a href="{$basedomain}home/connect" class="btngold loadMore" pid="3">Ikuti Kompetisi Go with Activgro</a>
	</div>
</div>{/*}

<div id="wrapperpembatas" align="center" style="overflow:hidden">
<span class="pembatas">
<a href="{$basedomain}home/connect" class="btnpink" style="font-size:12;padding:3px 35px">Ikuti kompetisi Go with ActivGro!</a>
</span>
</div>


<script type="text/javascript">


function trim_words(theString, numWords) {
    expString = theString.split(/\s+/,numWords);
    theNewString=expString.join(" ");
    return theNewString;
}



var title = "{$article[0].title}";
title = title.split(' ').join('+');
var content = "{substr(strip_tags($article[0].content),0,160)}";	
	content = trim_words(content,20)+"...";
var dataShare = "{$basedomain}shareArtikel.php/?img={$article[0].image}&title="+title+"&content="+content;
// var dataShare = "http://qinc.co.id/activegro/assets/file/slide-1-img.png";

var fbID = "{$appId}";

{literal}
	

	$(document).on('click','.btn-f', function(){

		window.fbAsyncInit = function() {
	        FB.init({
	          appId      : fbID,
	          status : true,
   				cookie : true,
	          xfbml      : true,
	          version    : 'v2.0'
	        });

	        FB.ui(
				 {
				  method: 'share',
				  href: dataShare
				}, function(response){
					
					
				});

	      };

		(function(d, s, id){
		         var js, fjs = d.getElementsByTagName(s)[0];
		         if (d.getElementById(id)) {return;}
		         js = d.createElement(s); js.id = id;
		         js.src = "//connect.facebook.net/en_US/sdk.js";
		         fjs.parentNode.insertBefore(js, fjs);

		         console.log(fjs);
	       }
	    (document, 'script', 'facebook-jssdk'));
		
		<!-- _gaq.push(['_trackEvent', 'Button', 'Click', 'ShareFBArtikel']); -->
		ga('send', 'pageview', '/vp/ShareFBartikel');



	})


	$('a.btn-t').click(function(e){
	 
	//We tell our browser not to follow that link
	e.preventDefault();
	 
	//We get the URL of the link
	var loc = $(this).attr('href');
	 
	//We get the title of the link
	var title = escape($(this).attr('title'));
	 
	//We trigger a new window with the Twitter dialog, in the middle of the page
	window.open('http://twitter.com/share?url=' + loc + '&text=Ada artikel menarik nih! Yuk baca "' + title + '"&hashtags=GowithActivGro' + '&', 'twitterwindow', 'height=450, width=550, top='+($(window).height()/2 - 225) +', left='+$(window).width()/2 +', toolbar=0, location=0, menubar=0, directories=0, scrollbars=0');
	 
	 <!-- _gaq.push(['_trackEvent', 'Button', 'Click', 'ShareTWArtikel']); -->
	 ga('send', 'pageview', '/vp/ShareTwitterArtikel');
	 
	});


{/literal}
</script>