<div id="wrapper" style="padding-bottom:30px">
	{if $article}
	{foreach $article as $val}
	<div id="article">
		<a href="{$basedomain}article/detail/?id={$val.id}"><img src="{$basedomain}public_assets/{$val.image}"/ height="150px" width="100%"></a>
		<div id="deskripsi">
			<a href="{$basedomain}article/detail/?id={$val.id}" style="text-decoration:none"><span class="title">{$val.title}</span></a><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{$val.changeDate}</span><br/>
			<span class="brief">{$val.brief}</span><br/>
			<span><a href="{$basedomain}article/detail/?id={$val.id}"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	{/foreach}
	{/if}

	{*}
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>{$val.changeDate}</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/>
			<span><a href="{$basedomain}article/detail"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/>
			<span><a href="{$basedomain}article/detail"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/>
			<span><a href="{$basedomain}article/detail"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/><
			<span><a href="{$basedomain}article/detail"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	<div id="article">
		<img src="{$basedomain}assets/file/gambar.jpg"/ height="150px" width="100%">
		<div id="deskripsi">
			<span class="title">4 Tips si kecil tidur nyenyak hingga lelap dan lahap sampai selamanya</span><br/>
			<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>15 mei 2014</span><br/>
			<span class="brief">Usia Balita merupakan periode emas tumbuh kembang Si Kecil. Untuk mendukung pertumbuhansi kecil secara</span><br/>
			<span><a href="{$basedomain}article/detail"  class="more">Selengkapnya</a></span>
		</div>
	</div>
	{/*}
</div>
<div id="wrapperbtn" align="center">
	<div id="divbtn">
		<a href="javascript:void(0)" class="btnpink loadMore" pid="6" >Load More</a>
	</div>
</div>

{literal}
	<script type="text/javascript">

		$(document).on('click','.loadMore', function(){

			var page = $(this).attr('pid');
			$.post(basedomain+'article/ajax',{page:page}, function(data){

				var html = "";

				if (data.status==true){
					$.each(data.res, function(i,val){

						html += '<div id="article">';
						html += '	<img src="'+basedomain+'public_assets/'+val.image+'"/ height="150px" width="100%">';
						html += '	<div id="deskripsi">';
						html += '		<span class="title">'+val.title+'</span><br/>';
						html += '		<span class="date"><span class="kalender">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>'+val.changeDate+'</span><br/>';
						html += '		<span class="brief">'+val.brief+'</span><br/><br/>';
						html += '		<span><a href="'+basedomain+'article/detail/?id='+val.id+'"  class="more">Selengkapnya</a></span>';
						html += '	</div>';
						html += '</div>';

					})
				} else {
					$(".loadMore").html("Tidak ada artikel lagi");
					$(".loadMore").removeAttr("href").css("cursor","pointer");
				}
				
				
				$('#wrapper').append(html);
				$('.loadMore').attr('pid',parseInt(page)+6);

			}, "JSON")	
		})
	</script>
{/literal}