
<div id="wrapperhome2">
	<div id="{if $coverfb}userDownloadFB{else}userDownload{/if}" >
		<div id="{if $coverfb}userContent{else}userContenttw{/if}">
		<div id="{if $coverfb}divsmpl{else}divsmpltw{/if}">
			<img src="{$basedomain}public_assets/cover/{$myfoto.cover}" width="100%" height="100%"/>
		 </div>
		 <div id="{if $coverfb}wrapimgframeFB{else}wrapimgframe{/if}" >
			<div id="wrapframeleft">
				<div id="imgframe">
					{*}
					<img src="" width="100%" height="100%" fname="{$myfoto.files}" class="bigImage" fid="{$myfoto.id}"/>
					{/*}
				</div>
			</div>
			<div id="" style="float: left;
    height: 125px;
    margin-left: -148px;
    overflow: hidden;
    width: 110px;
    margin-top:0px;
    position: relative;">

				<div id="frame">

					<img src="{$basedomain}public_assets/imageFramed/{$myfoto.profil}" width="100%" height="100%" id="framedinamis"/>
				</div>
			</div>

			<div id="wrapframeright">
				<div id="descimgframespace">&nbsp;</div>

			</div>
		 </div>
		 <div id="{if $coverfb}wrapcontentuserFB{else}wrapcontentuserDwn{/if}">
			<div id="contentuserdesc_dwn">
				{*}<div class="tittledesc">Ganti Foto Profil Anda</div>{/*}
				<div class="isidesc"><strong>Ayo klik download untuk mendapatkan foto sampul dan foto profil yang sudah Ibu dan Ayah pilih</strong></div>
				<div style="margin-top:0px;padding-right:5px;" align="right"><a href="{$basedomain}uploadfoto/thanks" class="btnpinkslide">Lanjutkan</a></div>

			</div>
			<div id="btn-descDownload" align="right">

				
				<div style="position:relative;height:45px;z-index:99"><a href="javascript:void(0)" class="btnpinkslide" id="downloadProfil" data-url="{$basedomain}uploadfoto/imageDownloaded" data-image-id="{$myfoto.id}" onClick="ga('send', 'event', 'Button', 'Click', 'Download');">Download Foto Profil</a></div>

				<div style="position:relative;height:45px;z-index:99"><a href="javascript:void(0)" class="btnpinkslide" id="downloadSampul" data-url="{$basedomain}uploadfoto/imageDownloaded" data-image-id="{$myfoto.id}" onClick="ga('send', 'event', 'Button', 'Click', 'Download');">Download Foto Sampul</a></div>

				{if $coverfb}
					<div>
					<a href="{$basedomain}public_assets/imageFramed/{$myfoto.profil}" class="download_file" download="{$myfoto.userName}-fotoprofil-facebook.jpg" id="profie" style="display:none"><img id="profdata" src="{$basedomain}public_assets/imageFramed/{$myfoto.profil}"></a>

					<a href="{$basedomain}public_assets/cover/{$myfoto.cover}" class="download_file" download="{$myfoto.userName}-coverfoto-facebook.jpg" id="covie" style="display:none"><img src="{$basedomain}public_assets/cover/{$myfoto.cover}" id="covdata"></a>

					<a href="javascript:void(0)" id="sosmedButton" class="btn-fP btnpinkslide btn-next" idcover="" id="sosmed" idfile="http://facebook.com" style="display:none">Facebook Profile</a>
					</div>
					<p>&nbsp;</p>
				{else}
					<div>
					<a href="{$basedomain}public_assets/imageFramed/{$myfoto.profil}" class="download_file" download="{$myfoto.userName}-fotoprofil-twitter.jpg" id="profie"  style="display:none"><img id="profdata" src="{$basedomain}public_assets/imageFramed/{$myfoto.profil}"></a>

					<a href="{$basedomain}public_assets/cover/{$myfoto.cover}" class="download_file" download="{$myfoto.userName}-coverfoto-twitter.jpg" id="covie" style="display:none"><img src="{$basedomain}public_assets/cover/{$myfoto.cover}" id="covdata"></a>

					<a href="{$basedomain}home/thanks" id="sosmedButton" class="btn-tP btnpinkslide btn-next" idcover="" idfile="http://twitter.com" style="display:none">Twitter Profile</a>
					</div>
				{/if}
			</div>


		</div>
		</div>
	</div>
</div>
<script type="text/javascript">
{literal}

	$(document).ready(function() {
	  $('#downloadSampul').click(function() {
	  		$.ajax({
				url: $(this).data("url"),
				method: 'POST',
				data: "image_id="+$(this).data("image-id")
			});
			 if (!window.XDomainRequest) {
			        $('#covdata').trigger( "click" );
			    return false; //cancel navigation
			  } else {
			  	var link = $("#covie").attr('href');
				if(link!='') window.open(link,'_blank');
			  }	
	  });

	  $('#downloadProfil').click(function() {
				$.ajax({
					url: $(this).data("url"),
					method: 'POST',
					data: "image_id="+$(this).data("image-id")
				});
	  	  if (!window.XDomainRequest) {
		        $('#profdata').trigger( "click" );
		      // window.location.href=basedomain+'uploadfoto/thanks';
		    return false; //cancel navigation
		  } else {
		  	var link = $("#profie").attr('href');
			if(link!='') window.open(link,'_blank');
		  }
	  });
	});

	$(document).on('click','#sosmedButton', function(){

		// window.location.href=basedomain+'home/thanks';

		// setTimeout(function(){

			var link = $(this).attr('idfile');
			if(link!='') window.open(link,'_blank');


		// }, 1000);


	})

	$(document).on('click','.btn-next', function(){

		window.location.href=basedomain+'home/thanks';

	})
{/literal}
</script>
