
<div id="wrapperhome2">
	<div id="user" >
		<div id="{if $coverfb}userContent{else}userContenttw{/if}">
		 <div id="{if $coverfb}imgsmpl{else}imgsmpltw{/if}">
			<img src="{$basedomain}public_assets/cover/{$frame[0].cover.files}" width="100%" height="100%" class="coverImg"/>
		 </div>
		 <div id="{if $coverfb}wrapimgframeFB{else}wrapimgframe{/if}" >
			<div id="wrapframeleft">
				<div id="imgframe">
					{*}
					<img src="" width="100%" height="100%" fname="{$myfoto.files}" class="bigImage" fid="{$myfoto.id}"/>
					{/*}
				</div>
			</div>
			<div id="" style="float: left;
    height: 125px;
    margin-left: -148px;
    overflow: hidden;
    width: 110px;
    margin-top:-3px;
    position: relative;">

				<div id="frame">
					
					<img src="{$basedomain}public_assets/frame/{$frame[0].files}" width="100%" height="100%" id="framedinamis"/>
				</div>
			</div>

			<div id="{if $coverfb}wrapframerightFB{else}wrapframeright{/if}">
				<div id="{if $coverfb}descimgframespaceFB{else}descimgframespace{/if}">&nbsp;</div>
				<div id="descimgframe" align>
					Silakan pilih foto sampul yang Ibu dan Ayah sukai dan sesuai dengan foto Si Kecil
				</div>
			</div>
		 </div>
		 <div id="wrapcontentuser">
			<div id="contentdesc">
				
				{if $frame}
				{foreach $frame as $val}
				<div id="framesmall"><a href="javascript:void(0)"><img src="{$basedomain}public_assets/cover/{$val.cover.files}" width="100%" height="100%" class="chooseFrame" fname="{$val.files}" linkcover="{$val.cover.files}" lframe="{$val.files}"/></a></div>
				{/foreach}
				{/if}
				


				{*}
				<div id="framesmall">&nbsp;</div>
				<div id="framesmall">&nbsp;</div>
				<div id="framesmall">&nbsp;</div>{/*}
			</div>
			<div id="btn-desc" align="right">
				<a href="javascript:void(0)" class="btnpinkslide continueFrame" fid="{$frame[0].files}" cid="{$frame[0].cover.files}">Lanjutkan</a>
			</div>
		 
		</div>
		</div>
	</div>
</div>

<script type="text/javascript">

var coverfb = {$coverfb};

{literal}
	
	$(document).on('click','.chooseFrame', function(){

		var link = $(this).attr('linkcover');
		var imgFullpath = basedomain+'public_assets/cover/'+link;
		var name = $(this).attr('fname');
		var lframe = $(this).attr('lframe');
		var frame = basedomain+'public_assets/frame/'+lframe;

		var loading = basedomain+"assets/images/loading.gif";
		if(coverfb){
			$('#imgsmpl').attr('align','center');
		}else{
			$('#imgsmpltw').attr('align','center');			
		}
		$('.coverImg').attr('src',loading);
		$('.coverImg').attr('width','15%');
		$('.coverImg').attr('height','30%');

		setTimeout(function(){
			
			
			$('.coverImg').attr('src',imgFullpath);
			$('.coverImg').attr('width','100%');
			$('.coverImg').attr('height','100%');
			$('#framedinamis').attr('src',frame);
			$('.continueFrame').attr('fid',name);
			$('.continueFrame').attr('cid',link);

		}, 1000);

		
		
	})


	$(document).on('click','.continueFrame', function(){

		var cover = $(this).attr('cid');
		var frame = $(this).attr('fid');
		
		
		var loading = "<img src='"+basedomain+"assets/images/loading.gif' width='50px'/>";
		if(coverfb){
			$('#userContent').attr('align','center');
			$('#userContent').html(loading);
		}else{
			$('#userContenttw').attr('align','center');
			$('#userContenttw').html(loading);
		}
		$.post(basedomain+'uploadfoto/saveFrame',{cover:cover, frame:frame}, function(data){

			if (data.status==true){
				
				    window.location.href = basedomain+'uploadfoto';
				
			}

		},"JSON")
		
	})

	/*

	old flow 
	$(document).on('click','.chooseFrame', function(){

		var link = $(this).attr('src');

		var name = $(this).attr('fname');
		$('#framedinamis').attr('src',link);
		$('.continueFrame').attr('fid',name);
		
	})

	$(document).on('click','.continueFrame', function(){

		var frameName = $(this).attr('fid');
		var fileName = $('.bigImage').attr('fname');
		var fileid = $('.bigImage').attr('fid');
		
		$.post(basedomain+'uploadfoto/generateImage',{fileid:fileid, frameName:frameName, fileName:fileName}, function(data){

			if (data.status==true){
				
				    window.location.href = basedomain+'uploadfoto/share';
				
			}

		},"JSON")
		
	})
	*/

{/literal}
</script>