
<div id="wrapperhome2">
	<div id="user" >
		<div id="userContent">
		 <div id="divsmpl">
			<img src="{$basedomain}public_assets/imageFramed/{$myfoto.profil}" width="100%" height="100%"/>
		 </div>
		 <div id="wrapcontentuser">
			<div id="contentuserdesc">
				<div class="tittledesc">Share ke Social Media</div>
				<div class="isidesc">Silahkan share foto baru si kecil lewat facebook maupun twitter</div>
			
			</div>
			<div id="btn-desc" align="right">
				<a onClick="ga('send', 'event', 'Button', 'Click', 'Share');" href="{$accessUrl}" class="btnpinkslide">Share</a>
			</div>
		 
		</div>
		</div>
	</div>
</div>