<section id="blog" class="container">
        <div class="center">
            <h2>Detail News</h2>
            <p class="lead">&nbsp;</p>
        </div>

        <div class="blog">
            <div class="row">

                {if $data}
                {foreach $data as $val}
                <div class="col-md-8">
                    <div class="blog-item">
                        {if $val.image}
                        <img class="img-responsive img-blog" src="{$basedomain}public_assets/assets/{$val.image}" width="50%" alt="" />
                        {/if}
                            <div class="row">  
                                <div class="col-xs-12 col-sm-2 text-center">
                                    <div class="entry-meta">
                                        <span id="publish_date">{$val.changeDate}</span>
                                        <span><i class="fa fa-user"></i> <a href="#"> Administrator</a></span>
                                       
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 blog-content">
                                    <h2>{$val.title}</h2>
                                    <p>{$val.content}</p>
                                    
                                </div>
                            </div>
                        </div><!--/.blog-item-->
                        
                    </div><!--/.col-md-8-->
                    {/foreach}
                    {/if} 

                      <aside class="col-md-4">
                    <div class="widget search">
                        <form role="form">
                                <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </form>
                    </div><!--/.search-->
                    
                
                     

                    {*}
                    <div class="widget archieve">
                        <h3>Archieve</h3>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="blog_archieve">
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> December 2013 <span class="pull-right">(97)</span></a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> November 2013 <span class="pull-right">(32)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> October 2013 <span class="pull-right">(19)</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i> September 2013 <span class="pull-right">(08)</a></li>
                                </ul>
                            </div>
                        </div>                     
                    </div><!--/.archieve-->
                    {/*}
                </aside>  
                

            </div><!--/.row-->

         </div><!--/.blog-->

    </section><!--/#blog-->
{*}
<p class="framejudul">
Company Division
</p>
{if $data}
		{foreach $data as $val } 
				<img align="center"  width="90%" height="50%" border="0" src="{$basedomain}{$val.image}"/> 
			{/foreach}
		{/if}
	<tr>
		<p class="footer1">INDONESIA Authorized Agent</p>
		<p class="footer2">PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </p>
		<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
	</tr>
	<tr>
		<hr>
			<p class="center">
				<input align="center" class="center" type="button"  value="Print">
			</p>
		<hr>
	</tr>
{/*}