<section id="recent-works" class="shortcode-item">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Field Training</h2>
               
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_field1.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training</a> </h3>
                                <p>"AGI" SuperSting R8/IP Restivity Field Training</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_field1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_field2.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training</a></h3>
                                <p>Ground Penetrating Radar (GPR) Field Training</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_field2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_field3.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training </a></h3>
                                <p>Seismograph Field Training</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_field3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_field4.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training</a></h3>
                                <p>Coal Exploration at Meulaboh, Aceh-NAD</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_field4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_field5.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training</a></h3>
                                <p>Geologycal Beach Survey with JMC Echosounder</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_field5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_field6.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training</a></h3>
                                <p>Gamma-Ray Spectrometer</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_field6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_field7.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training </a></h3>
                                <p>Energy Source for Seismic</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_field7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_field8.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training</a></h3>
                                <p>Conductivity Field Training</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_field8.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </section><!--/#portfolio-->
{*}
<p class="framejudul">
Company Division
</p>
{if $data}
		{foreach $data as $val } 
				<img align="center"  width="90%" height="50%" border="0" src="{$basedomain}{$val.image}"/> 
			{/foreach}
		{/if}
	<tr>
		<p class="footer1">INDONESIA Authorized Agent</p>
		<p class="footer2">PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </p>
		<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
	</tr>
	<tr>
		<hr>
			<p class="center">
				<input align="center" class="center" type="button"  value="Print">
			</p>
		<hr>
	</tr>
{/*}