<script>
$(function () {
	$('#postdate').datepicker ();
	$('#expiredate').datepicker ();
	
	$("#isi").jqte();
	
	$('input:checkbox, input:radio').iCheck({
		checkboxClass: 'icheckbox_minimal-blue',
		radioClass: 'iradio_minimal-blue',
		inheritClass: true
	})
})
</script>

<div id="content-header">
	<h1>Add New Article</h1>
</div> <!-- #content-header -->	

<div id="content-container">
	{if $music}
	<form id="validate-enhanced" class="form parsley-form" method="post" action="{$basedomain}music/addFile" enctype="multipart/form-data">
	{else}
	<form id="validate-enhanced" class="form parsley-form" method="post" action="{$basedomain}gallery/addFile" enctype="multipart/form-data">
	{/if}
		<div class="row">
			<div class="col-md-9">
				<div class="portlet">
				
					<div class="portlet-header">

						<h3>
							<i class="fa fa-tasks"></i>
							Form Article
						</h3>

					</div> <!-- /.portlet-header -->
				
					<div class="portlet-content">
						
						<div class="col-sm-12">
							<div class="form-group">
							{if $data.otherid}
								<input type="hidden" name="title" class="form-control" value="{$data.parentid}" data-required="true"/>
							{else}
								<label for="text-input">Kategori Gallery</label>
								<select class="form-control" name="otherid">
									{foreach $cat as $val}
									<option value="{$val.id}">{$val.subAlbum}</option>
									{/foreach}
									
								</select>
							{/if}
							</div>
						</div>	
						
						<div class="col-sm-12">
							<div class="form-group">
							<label for="text-input">Title</label>
									<input type="text" name="title" class="form-control" value="{$data.title}" data-required="true"/>
							</div>
						</div>	
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="text-input">Brief</label>
									<input type="text" name="brief" class="form-control" value="{$data.brief}" />
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
							<label for="textarea-input">Deskripsi</label>
									<textarea name="content" id="editor1"  cols="10" rows="20" class="ckeditor">{$data.content}</textarea>
							</div>
							
							
									<!-- hidden -->
									<input type="hidden" name="id" value="{$data.id}" />
									<input type="hidden" name="authorid" value="{$admin.id}" />
									<input type="hidden" name="typealbum" value="1" />
									{if $music}
									<input type="hidden" name="gallerytype" value="1" />
									{else}
									<input type="hidden" name="gallerytype" value="0" />
									{/if}
									<input type="hidden" name="image" value="{$data.image}" />
									<input type="hidden" name="image_url" value="{$data.file}" />
									<!-- hidden -->
							
						</div>
					</div>
				</div>
				
			</div>
		
		
			<div class="col-md-3">
				<div class="portlet">
					<div class="portlet-header">

						<h3>
							<i class="fa fa-calendar"></i>
							Publish Date
						</h3>

					</div> <!-- /.portlet-header -->
					<div class="portlet-content">
						{*}<div class="form-group">
							<label for="select-input">Postdate</label>
							<div id="postdate" class="input-group date" data-auto-close="true" data-date-format="dd-mm-yyyy" data-date-autoclose="true">
								<input class="form-control" type="text" name="postdate" value="{$data.posted_date}" data-required="true">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
							
						</div>{/*}
						
						<div class="form-group">
							<div class="checkbox">	
							<label>
								<input type="checkbox" name="n_status" class="" {$data.n_status} >
								Publish
							</label>
							</div>	
						</div>
						
						<input type="submit" class="btn btn-primary" value="Submit" id="submit" />
					</div>
				</div>
				
				<div class="portlet">
					<div class="portlet-header">

						<h3>
							<i class="fa fa-picture-o"></i>
							Upload File
						</h3>

					</div> <!-- /.portlet-header -->{if $music}
					<div class="col-md-12">
							<div class="form-group">
							<label for="text-input">Nama File</label>
									<input type="text" name="files" class="form-control" value="{$data.files}" />
							</div>
						</div>
						{/if}
					<div class="portlet-content">
						<div class="fileupload fileupload-new" data-provides="fileupload">
						  <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="{$app_domain}public_assets/{$data.files}" alt="{$data.files}" /></div>
						  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
						  <div>
							<span class="btn btn-default btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="file_image"/></span>
							<a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
						  </div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	
	</form>
</div>