
<div id="sidebar-wrapper" class="collapse sidebar-collapse">
	
	<div id="search">
		<form>
			<input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

			<button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
		</form>		
	</div> <!-- #search -->

	<nav id="sidebar">		
		
		<ul id="main-nav" class="open-active">			
			
			
			<li class="dropdown active">
				<a href="javascript:;">
					<i class="fa fa-file-text"></i>
					Menu 
					<span class="caret"></span>
				</a>				
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}home">
							<!--<i class="fa fa-plus"></i>-->
							<i class="fa fa-list-alt"></i> 							
							Home
						</a>
					</li>
					<li>
						<a href="{$basedomain}produk">
							<i class="fa fa-list-alt"></i> 
							Produk
						</a>
							<ul>
								<li>
									<a href="{$basedomain}produk/geophysics_list">
										<i class="fa fa-list-alt"></i> 
										Geophysics
									</a>
								</li>
								<li>
									<a href="{$basedomain}produk/scientific_list">
										<i class="fa fa-list-alt"></i> 
										Scientific
									</a>
								</li>
								<li>
									<a href="{$basedomain}produk/civil_list">
										<i class="fa fa-list-alt"></i> 
										Civil & Geotech Engineering   
									</a>
								</li>
											
							</ul>
					</li>
					<li>
						<a href="{$basedomain}brocure">
							<i class="fa fa-list-alt"></i> 
							Brocure
						</a>
					</li>
					<li>
						<a href="{$basedomain}company">
							<i class="fa fa-list-alt"></i> 
							Company and Link
						</a>
							<ul>
								<li>
									<a href="{$basedomain}company/company_profile">
										<i class="fa fa-list-alt"></i> 
										Company Profile
									</a>	
								</li>
								<li>
									<a href="{$basedomain}company/company_division">
										<i class="fa fa-list-alt"></i> 
										Company Division
									</a>
								</li>
								<li>
									<a href="{$basedomain}company/company_organization">
										<i class="fa fa-list-alt"></i> 
										Company Organization
									</a>	
								</li>
								<li>
									<a href="{$basedomain}company/company_marketing">
										<i class="fa fa-list-alt"></i> 
										Company Marketing Strategy 
									</a>
								</li>
								<li>
									<a href="{$basedomain}company/customer_list">
										<i class="fa fa-list-alt"></i> 
										Company Costumer List
									</a>	
								</li>
								<li>
									<a href="{$basedomain}company/customer_location">
										<i class="fa fa-list-alt"></i> 
										Customer Location
									</a>
								</li>
											
							</ul>
					</li>
					{*}
					<li>
						<a href="{$basedomain}info/info">
							<i class="fa fa-list-alt"></i> 
							News & info
						</a>
					</li>
					{/*}
					<li>
						<a href="{$basedomain}contact">
							<i class="fa fa-list-alt"></i> 
							Contac us
						</a>
					</li>
					
				</ul>
			</li>
			<!--
			<li class="dropdown active">
				<a href="javascript:;">
					<i class="fa fa-file-text"></i>
					Article 
					<span class="caret"></span>
				</a>				
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}article/addarticle">
							<i class="fa fa-plus"></i> 
							Add New Article
						</a>
					</li>
					<li>
						<a href="{$basedomain}home">
							<i class="fa fa-list-alt"></i> 
							Article List
						</a>
					</li>
					<li>
						<a href="{$basedomain}article/trash">
							<i class="fa fa-trash-o"></i>
							Trash
						</a>			
					</li>
				</ul>
			</li>
			-->

			<li class="dropdown">
				<a href="javascript:;">
					<i class="fa fa-picture-o"></i>
					News And Gallery
					<span class="caret"></span>
				</a>				
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}article/news">
							<i class="fa fa-list"></i> 
							News
						</a>
					</li>
					<li>
						<a href="{$basedomain}gallery">
							<i class="fa fa-list"></i> 
							Galerry
						</a>
					</li>
					<li>
						<a href="{$basedomain}music">
							<i class="fa fa-list"></i> 
							Music
						</a>
					</li>
				</ul>
			</li>	
			
		</ul>
				
	</nav> <!-- #sidebar -->

</div> <!-- /#sidebar-wrapper -->