
<div id="sidebar-wrapper" class="collapse sidebar-collapse">
	
	<div id="search">
		<form>
			<input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

			<button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
		</form>		
	</div> <!-- #search -->

	<nav id="sidebar">		
		
		<ul id="main-nav" class="open-active">			
			
			
			<li class="dropdown active">
				<a href="javascript:;">
					<i class="fa fa-file-text"></i>
					Article 
					<span class="caret"></span>
				</a>				
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}article/addarticle">
							<i class="fa fa-plus"></i> 
							Add New Article
						</a>
					</li>
					<li>
						<a href="{$basedomain}home">
							<i class="fa fa-list-alt"></i> 
							Article List
						</a>
					</li>
					<li>
						<a href="{$basedomain}article/trash">
							<i class="fa fa-trash-o"></i>
							Trash
						</a>			
					</li>
				</ul>
			</li>

			<li class="dropdown">
				<a href="javascript:;">
					<i class="fa fa-picture-o"></i>
					Upload Frame & Cover 
					<span class="caret"></span>
				</a>				
				<ul class="sub-nav">
					<li>
						<a href="{$basedomain}article/upload">
							<i class="fa fa-facebook"></i> 
							Facebook
						</a>
					</li>
					<li>
						<a href="{$basedomain}article/uploadtwt">
							<i class="fa fa-twitter"></i> 
							Twitter
						</a>
					<li>
						<a href="{$basedomain}home/frame">
							<i class="fa fa-list-alt"></i> 
							Frame List
						</a>
					</li>
				</ul>
			</li>	
			
		</ul>
				
	</nav> <!-- #sidebar -->

</div> <!-- /#sidebar-wrapper -->