<section id="recent-works" class="shortcode-item">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Activity</h2>
               
            </div>
            <div class="row">
                <div >
                {if $album}
                {foreach $album as $val}
                <div class="col-xs-12 col-sm-3 " >
                    <div class="recent-work-wrap">
                        {if $val.image==''}
                        <img class="img-responsive" style="height:200px" src="{$basedomain}assets/images/no-images.gif" alt="">
                        {else}
                        <img class="img-responsive" style="height:200px" src="{$basedomain}public_assets/{$val.image}" alt="">
                        {/if}
                        <div class="overlay">
                            <div class="recent-work-inner">
                                {if $val.parentid==0}
                                <a class="preview" href="{$basedomain}album/activity/?idAlbum={$val.id}" rel=""><img src="{$basedomain}assets/images/loop.png"/> </a>
                                {else}
                                <a class="preview" href="{$basedomain}album/activityDetail/?id={$val.id}" rel=""><img src="{$basedomain}assets/images/loop.png"/> </a>
                                 {/if}
                            </div> 
                        </div>
                        {if $val.parentid==0}
                        <h3><a href="{$basedomain}album/activity/?idAlbum={$val.id}">{$val.title}</a> </h3>
                        {else}
                        <h3><a href="{$basedomain}album/activityDetail/?id={$val.id}">{$val.title}</a> </h3>
                        {/if}

                        <p>{$val.content}</p>
                    </div>
                </div>   
                {/foreach}
                {/if}
                </div>
                {*}
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_lab2.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training</a></h3>
                                <p>Electrical Trainer Kits</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_lab2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_lab4.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training</a></h3>
                                <p>Communication Trainer Kits</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_lab4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="{$basedomain}public_assets/assets/ph_lab5.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Training</a></h3>
                                <p>Electron PLC Education Trainer</p>
                                <a class="preview" href="{$basedomain}public_assets/assets/ph_lab5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                {/*}
            </div>
        </div>
    </section><!--/#portfolio-->
{*}
<p class="framejudul">
Company Division
</p>
		{if $data}
			{foreach $data as $val } 
				<img align="center"  width="90%" height="50%" border="0" src="{$basedomain}{$val.image}"/> 
			{/foreach}
		{/if}
	<tr>
		<p class="footer1">INDONESIA Authorized Agent</p>
		<p class="footer2">PT. MITRA INTIMARGA, BEKASI SQUARE - Kanto No. 70, Pekayon Jaya, Bekasi Selatan 17148 </p>
		<p class="footer3">Phone No. (021) 8243 4829, Fax No. (021) 8243 4831, E-mail : sales@ptmitra.com, Website : http: / / www.ptmitra.com </p> </th>
	</tr>
	<tr>
		<hr>
			<p class="center">
				<input align="center" class="center" type="button"  value="Print">
			</p>
		<hr>
	</tr>
{/*}