<section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Brochure Geophysics</h2>
                <p class="lead">&nbsp;</p>
            </div>

            <div class="row">
            	 <div >
                {if $data}
                {$i=0}
                {foreach $data as $val}
                {if $i==0 || $i%4==0}
           		<div class="row">
           		{else}
                    
           		{/if}
                <div class="col-xs-12 col-sm-3 " >
                    <div class="recent-work-wrap">
                        <a href="{$basedomain}brocure/detailgeophysics/?id={$val.id}">
								<img align="center" class="img-responsive" border="0" src="{$basedomain}public_assets/{$val.image}"/> 
								</a>
                     {*} 
                     <div class="overlay">
                            <div class="recent-work-inner">
                              {if $val.parentid==0}
                                <a class="preview" href="{$basedomain}album/activity/?idAlbum={$val.id}" rel=""><img src="{$basedomain}assets/images/loop.png"/> </a>
                                {else}
                                <a class="preview" href="{$basedomain}album/activityDetail/?id={$val.id}" rel=""><img src="{$basedomain}assets/images/loop.png"/> </a>
                                 {/if}

                                
                            </div> 
                        </div>
                       {if $val.parentid==0}
                        <h3><a href="{$basedomain}album/activity/?idAlbum={$val.id}">{$val.title}</a> </h3>
                        {else}
                        <h3><a href="{$basedomain}album/activityDetail/?id={$val.id}">{$val.title}</a> </h3>
                        {/if}

                        <p>{$val.content}</p>
                        {/*}
                    </div>
                </div>   {$i=$i+1}
                {if $i%4==0}
            </div><br/>
            {else}

            {/if}
                
                {/foreach}
                {/if}
                </div>

				{*}<div class="col-sm-12">
					<table class="table" border="1">
					{if $data}
							{foreach $data as $val } 
							
						<!--	<img align="center" class="img-responsive img-blog" width="70%" height="60%" border="0" src="{$basedomain}public_assets/{$val.image}"/> -->
						
					
							<th bgcolor="#00CC66"  colspan="3">{$val.title}</th>
							  <tr>
								<td height="200" width="236" >
								<a href="{$basedomain}produk/partnergeophysics/?id={$val.id}">
								<img align="center" class="col-sm-12" border="0" src="{$basedomain}public_assets/{$val.image}"/> 
								
								</td>
								<td>
									<p>
									{$val.content}	
									</p>
								</td>
								<td>
								
									{if $val.files}
									<a href="{$basedomain}public_assets/{$val.files}" class="btn btn-info" target="_blank"><i class="fa fa-download"></i>  Download</a>
									{/if}
								</td>
							  </tr>
							  	{/foreach}
					{/if}
					</table>
				</div>{/*}
			
            </div><!--/.row--> 



        </div><!--/.container-->
    </section><!--/#feature-->

